---
// @ts-nocheck
import config from '@/config'
import { getCollection } from 'astro:content'

import Base from '@/layouts/Base.astro'
import PostPreview from '@/components/PostPreview.astro'

const allPosts = await getCollection('posts')
const sortedPosts = allPosts.sort(
  (a, b) =>
    // eslint-disable-next-line prettier/prettier
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
)
---

<Base meta={{ title: config.title }}>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    {
      sortedPosts.map((post) => (
        <PostPreview
          thumbnail={post.data.thumbnail}
          url={post.slug}
          title={post.data.title}
          pubDate={post.data.pubDate}
        />
      ))
    }
  </div>
</Base>

