
@import 'tailwindcss';
@import 'tw-animate-css';
@config '../tailwind.config.js';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(97.5% 0.01 85);
  --secondary-background: oklch(96% 0.008 85);
  --foreground: oklch(20% 0 0);
  --main-foreground: oklch(30% 0 0);
  --main: oklch(90% 0.015 250 / 0.4);
  --border: oklch(88% 0.01 85);
}

.dark {
  --background: oklch(20% 0.02 260);
  --secondary-background: oklch(25% 0.015 260);
  --foreground: oklch(95% 0 0);
  --main-foreground: oklch(85% 0 0);
  --main: oklch(20% 0.01 260 / 0.3); 
  --border: oklch(40% 0.01 260);
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);

  --radius-base: 10px;
  --font-weight-base: 500;
  --font-weight-heading: 400;

  --breakpoint-m700: max-width: 700px;
  --breakpoint-m500: max-width: 500px;
  --breakpoint-m400: max-width: 400px;
}

body {
  direction: rtl;
  font-family: "Rubik", sans-serif;

}

mark {
  background-color: var(--main);
}
